/*Overall Page Background*/
body{
	margin: 0px;
	background: #331F38; 
	font-family: 'Libre Baskerville', Times, serif;
	color: #F3E7C1;
	}

 /*Establishes a Grid System*/
    box-sizing: border-box;

/*Heading 1 Style*/
	h1{ 
        color: #F3E7C1;
        /*font-size: 60em;*/
    }
/*Style for the description text*/
	.describe_text {
		font-size: 0.5em;
		color: white;
	}

/*Removes Bullet Style for List Items*/
	ul {
  		list-style-type: none;
  		padding: 0;
	}

	li{
		padding: 0;
	}

/*Hero Image Style*/
	img.hero{
		display: block;
		margin: auto;
		/*position: relative;
		margin-left: auto;
		margin-right: auto;*/
	}

/*Name Plate Style*/
	img.name_plate{
		display: block;
		vertical-align: left;
		width: 80%;
	}

/*Thumbnail Image styles*/
	img.thumb{
		display: block;
		vertical-align: center;
		width: 100%;
		opacity: .6;
	}

/*Project Thumbnails style*/
	img.pro_thumb{
		display: block;
		width: 100%;
		opacity: .8;
	}

/*Profile Image*/
	.img-self{
		display: block;
		text-align: center;
		width: 10%;
		border-radius: 75%;
		margin-left: 30%;
    	margin-right: auto;
    	position: fixed;
	}
@media only screen and (max-device-width: 500px){
	.img-self{
		visibility: hidden;
	}
}

/*Social Media Images*/
	.img_soc{
		/*display: inline-block;*/
		text-align: right;
		width: 20%;
		border-radius: :75%;
		margin: none;
	}

	.soc_align{
		text-align: center;
		margin: 0 auto;
		display: inline-block;
	}

/*Main Page Footer Style*/
	.footer_home{
		width: 100%;
		position: fixed;
		bottom: 0.5em;
		/*position: bottom, relative;*/
		/*float: bottom;*/
		/*right: 0;
		bottom: 0;
		left: 0;*/
		/*padding: 1em;*/
		background-color: #726994;
		text-align: center
		/*height: 10%;*/
		/*width:100vw;*/
	}

/*Buttons for Main Page Footer Style*/
	.footer-home_button{
		/*color: white;
		background: #332532;
		font-size: 2em;
		border: 0px;
		padding: 14px 120px;*/
		/*align-items: center;*/
		/*float: center;*/
		background-color: #726994;
		display: inline-block;
		font-size: 2em;
		color: #F3E7C1;
		border-style: none;
		/*font-family: Helvetica, sans-serif;*/
		font-family: 'Libre Baskerville', Times, serif;
		margin-left: 2em;
		margin-right: 2em;
	}

/*Footer Element for Rest of page*/
	.footer{
		/*position: fixed;*/
		/*float: bottom;*/
		width: auto; /*Match this to the '.col_a' width*/
		/*padding: 1em;*/
		background-color: #726994;
		text-align: center;
		/*height: 10%;*/
		/*float: left;*/
		margin: 0 auto;
		position: fixed;
		bottom: 0em;
		display: inline;
		z-index: 100;
		width: 100%;
	}

@media only screen and (max-device-width: 800px){
	.footer{
		/*padding-left: 4em;
		padding-right: 4em;*/
		display: block;
		margin: auto;
		right: 0px;
		left: 0px;
		z-index: 100;
	}
}
	
/*Buttons for Footer Style*/
	.footer-button{
		/*color: white;
		background: #332532;
		font-size: 2em;
		border: 0px;
		padding: 14px 120px;*/
		/*align-items: center;*/
		/*float: center;*/
		background-color: #726994;
		display: inline-block;
		font-size: 2em;
		color: #F3E7C1;
		border-style: none;
		/*font-family: Helvetica, sans-serif;*/
		font-family: 'Libre Baskerville', Times, serif;
		/*margin-left: 2em;
		margin-right: 2em;*/
		padding-left: 1em;
		padding-right: 1em;
		/*width: ;*/
		/*margin: 0 auto;*/
	}
/*@media only screen and (max-device-width: 800px){
	.footer-button{
		margin-left: 2em;
		margin-right: 2em;
	}
}*/

/*Two Column Layout - A*/
	.col_a{
		/*width: 45%;
		height: auto;
		float: left;
		background-color: : #644D52*/
		/*position: absolute;*/
		width: 35%; /*Match this to the '.footer' width*/
		height: 100vh;
		float: left;
		/*border: 23px;*/ 
		background-color: #331F38;
		/*margin-right: 1em;*/
		display: inline;
	}
@media only screen and (max-device-width: 1250px){
	.col_a{
		/*text-align: center;
		position: relative;
		top: 15%;
		font-size: 4em;
		padding-bottom: 3.5em;
		padding-top: 3.5em;*/
		position: fixed;
		top: 0px;
		z-index: 100;
		width: 100%;
		margin: 0 auto;
		height: 8em;
	}
}
/*Column A Text Element*/
	.col_a_title{
		text-align: center;
		position: fixed;
		/*top: 15%;*/
		/*color: white;*/
		font-size: 4em;
		padding-bottom: 3.5em;
		padding-top: 3.5em;
		padding-left: 0.2em;
	}
/*@media only screen and (max-device-width: 500px){
	.col_a_title{
		padding-top: 0em;
		padding-bottom: 0em;
	}
}*/
@media only screen and (max-device-width: 1250px){
	.col_a_title{
		/*text-align: center;
		position: relative;
		top: 15%;
		font-size: 4em;*/
		padding-bottom: 0.5em;
		padding-top: 0.5em;
		/*position: fixed;*/
		top: 0px;
		z-index: 100;
		width: 100%;
		/*margin: 0 auto;*/
		/*height: 1em;*/
	}
}
@media only screen and (min-device-width: 500px){
	.col_a_title{
		position: fixed;
	}
}

/*Two Column Layout - B*/
	.col_b{
		/*width: 45%;*/
		float: right;
		/*background-color: : #F77A52;*/
		/*position: absolute;
		right: 0;*/
		width: 65%;
		height: 100%;
		/*vertical-align: right;*/
		/*border: 23px;*/ 
		background-color: #6F9EB0;
		/*margin-left: 1em;*/
		display: inline;

	}
@media only screen and (max-device-width: 500px){
	.col_b{
		width: 100%;
		padding-top: 8em;
	}
}
/*Column B Text Elements*/
	.col_b_title{
		text-align: left;
		margin: 10%;
		position: relative;
		/*top: 5%;*/
		/*color: #111111;*/
		padding-bottom: 4.5em;
		/*padding-top: 4.5em;*/
	}

/*Column C - Variation of Column B*/
	.col_c_01{
		float: right;
		width: 65%;
		background-color: #6F9EB0;
		display: inline;
	}
@media only screen and (max-device-width: 500px){
	.col_c_01 {
		width: 100%;
	}
}
	.col_c_02{
		float: right;
		width: 65%;
		background-color: #A0C1B8;
		display: inline;
	}
@media only screen and (max-device-width: 500px){
	.col_c_02{
		width: 100%;
	}
}
	.col_c_03{
		float: right;
		width: 65%;
		background-color: #6F9EB0;
		display: inline;
		margin-bottom: 2.5em;
	}
@media only screen and (max-device-width: 500px){
	.col_c_03{
		float: right;
		width: 100%;
		background-color: #6F9EB0;
		display: inline;
		margin-bottom: 3em;
	}
}

/*Column C - Text Elements*/
	.col_c_title{
		text-align: center;
		position: relative;
		/*top: 15%;*/
		/*color: white;*/
		font-size: 2em;
		padding-bottom: 0.5em;
		/*padding-top: 3.5em;*/
	}

/*Column C - Image Elements*/
	.col_c_img{
		text-align: center;
		position: relative;
		/*top: 15%;*/
		/*color: white;*/
		font-size: 2em;
		padding-bottom: 0.5em;
		/*padding-top: 3.5em;*/
		width: 
	}


/*Column D - Particular Projects Style*/
	.col_d{
		float: right;
		width: 32%;
		background-color: #6F9EB0;
		display: inline;
		margin: none;
		text-align: center;
	}
@media only screen and (max-device-width: 1250px){
	.col_d{
		width: 50%;
		float: left;
		padding-top: 8em;
	}
}	
	.col_d_01{
		float: right;
		width: 32%;
		background-color: #A0C1B8;
		display: inline;
		text-align: center;
		margin: 0 auto;
		object-fit: none;
	}
@media only screen and (max-device-width: 1250px){
	.col_d_01{
		width: 50%;
		float: left;
		padding-top: 8em;
	}
}	
/*Master Layout Controller for Contact Page*/
	#contact_page_org{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

/*Draw Line*/
	.hor_line{
		width: 500px;
		border-bottom: 2px solid #F3E7C1;
		position: absolute;
	}
/*Mobile Column Fix*/
@media only screen and (max-device-width: 500px){
		.col_d{
			padding-top: 12em;
			margin-bottom: 5em;
		}
		.col_d_01{
			padding-top:12em;
			margin-bottom: 5em;
		}
		.col_a{
			padding-bottom: 4em;
		}
		.col_c_03{
			padding-bottom: 2.5em;
		}
	}
